/*This CSS document is only for the main section of: form.html, submit.html*/
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

section{
    grid-column: span 2;
}

#note{
    padding: 15px;
    font-size: 24pt;
    text-align: center;
    grid-column: auto;
}

form{
    margin: 0;
    padding: 0;
    width: 450px;
    height: 500px;
    margin-bottom: 30px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


#login{
    margin: 0;
    padding: 15px;
    font-size: 25pt;
    text-align: center;
    border-bottom: 1px solid white;

}

fieldset{
    margin: 0;
    padding: 20px;
    padding-top: 30px;
    border: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
}

.txt-field{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    position: relative;
}

.txt-field input{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    height: 65px;
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;
    background: transparent;
    outline: none;
}

.txt-field label{
    margin: 0;
    padding: 10px;
    font-size: 20pt;
    position: absolute;
    left: 0;
    bottom: 33%;
    opacity: 0.5;
    font-weight: bold;
    transition: 0.5s;
    cursor:text;
}

.txt-field input:valid ~label,
.txt-field input:focus ~label
{
    transform: translateX(10px) translateY(-48px);
    background-color: black;
    padding: 0 10px 0 10px;
    font-size: 10pt;
    color: #7be0e4;
    opacity: 1;
    border-left: 1px solid #7be0e4;
    border-right: 1px solid #7be0e4;
}

.txt-field input:valid,
.txt-field input:focus
{
    border-color: #7be0e4;
}

#forget-password{
    padding: 10px;
    margin-bottom: 30px;
}

#button-container{
    align-self: center;
}

button{
    margin-bottom: 15px;
    width: 200px;
    height: 50px;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 1em;
    background-color: transparent;
    cursor: pointer;
}

button:hover{
    border: 2px solid #7be0e4;
    color: #7be0e4;
}

#signup-link{
    text-align: center;
}

a{
    font-weight: bold;
}

main a:hover{
    color: #8DD3D5;
}

